*{margin: 0; padding: 0;}

#general
{
    background-color: rgb(143, 141, 141) !important;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3;
}

#padre
{
    margin-top: 5px;
    background-color: rgb(204, 43, 156);
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    z-index: 2;
}

#hijo {
    background-color: rgb(121, 204, 43);
    position: relative;
    margin-top: 10%; 
    width: 500px;
    height: 300px;
    margin: auto;
    z-index: 1;
}